@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

*{
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    margin-top: 50%;
    text-align: center;

}
.light{
    margin-top: 10vh;
}
#onbtn{
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px;
    background-color: #fff;
    color: #ff0011;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px;
}
#ofbtn{
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px;
    background-color: #fff;
    color: #ff0011;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px;
    transition: 400ms;
}